@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800;900&family=Archivo:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

:root {
    font-family: 'Montserrat', sans-serif;
}